/**
 * Styles for preset layouts
 */

/* 2 Columns */
:where(.rt-carousel).is-style-columns-2,
:where(.rt-carousel) .embla .wp-block-post-template.columns-2,
:where(.rt-carousel) .embla .wp-block-term-template.columns-2 {
	--rt-carousel-slide-width: calc((100% - (var(--rt-carousel-gap, 0px) * 1)) / 2);
}

/* 3 Columns */
:where(.rt-carousel).is-style-columns-3,
:where(.rt-carousel) .embla .wp-block-post-template.columns-3,
:where(.rt-carousel) .embla .wp-block-term-template.columns-3 {
	--rt-carousel-slide-width: calc((100% - (var(--rt-carousel-gap, 0px) * 2)) / 3);
}

/* 4 Columns */
:where(.rt-carousel).is-style-columns-4,
:where(.rt-carousel) .embla .wp-block-post-template.columns-4,
:where(.rt-carousel) .embla .wp-block-term-template.columns-4 {
	--rt-carousel-slide-width: calc((100% - (var(--rt-carousel-gap, 0px) * 3)) / 4);
}
